<div class="centered">
	<p>
	  <strong>Kind:</strong>
	  <%= @note.kind_description %>
	</p>

	<p>
	  <strong>Component:</strong>
	  <%= @note.component %>
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= @note.description %>
	</p>

	<p>
	  <strong>Wiki:</strong>
	  <%= @note.wiki %>
	</p>
</div>