<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @component.description %>
</p>

<%= link_to 'Edit', edit_component_path(@component) %> |
<%= link_to 'Back', components_path %>
